.profile {
  width: 300px;
  margin: 20px auto 0 auto;
  background-color: rgb(218, 209, 215);
  text-align: center;
}
.description {
  padding-top: 30px;
}
.avatar {
  border-radius: 50px;
  background-color: ivory;
}
.name {
  font-size: 20px;
}
.tag,
.location,
.label,
.quantity {
  font-size: 18px;
}
.stats {
  margin: 0;
  padding: 40px 40px 40px 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}
.item {
  display: flex;
  flex-direction: column;
}
