.statistics {
  text-align: center;
  margin-top: 50px;
  color: rgb(32, 4, 107);
}
.stat-list {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  color: black;
}
.list-item {
  display: flex;
  flex-direction: column;
  width: 50px;
}
